
html,body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    padding: 0;
    margin: 0;    
    overflow-x: auto;
    overflow-y: auto; 
    scrollbar-width: none;
    box-sizing: border-box;
    scrollbar-color: #00ff00 black;
 /*-ms-overflow-style: none;*/    
    box-sizing: border-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {display: none;}

h1{font-size: 40px;}

h2{font-size: 20px;}

#console {
    width: 569px;
    height: 450px;
    border: 1px solid #00ff00;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre; 
    font-family: monospace;
    font-size: 16px; 
    box-sizing: border-box;  
    margin: auto;
    scrollbar-color: #00ff00 black;
}

#randMessages{
    font-size: 20px;
    margin-top:1px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 569px;
    margin: auto;
    padding: 10px;
    margin-top: 1px; 
    display: block;
    background-color: black;
    color:  #00ff00;
    border: 1px solid  #00ff00;
    font-family: monospace;
    font-size: 16px;
    box-sizing: border-box;
}

input[type=text]:focus {
  border: 1px solid  #00ff00;
  outline: none;
  width: 569px;
  font-size: 16px;
}

button{
  border: 1px solid  #00ff00;
  background-color: black;
  color: #00ff00;
  font-size: 15px; 
  font-family: monospace;
}
button:hover{
  border: 1px solid  black;
  background-color: #00ff00;
  color: black;
  font-size: 15px; 
  font-family: monospace;  
}

#button-containter{
    margin-top: 10px;
}

#function-pad {
    width: 569px;
    margin: 1px auto;
    text-align: center;
}

.button-row {
    width: 100%;
    margin-bottom: 1px;
    font-size: 0;
}

.button-row button {
    width: 142px; 
    height: 45px;
    background-color: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    font-family: monospace;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.button-row .wide-btn {
    width: 189px;
    height: 45px;
    margin-right: 1px;
    background-color: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    font-family: monospace;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.button-row .wide-btn:last-child {
    margin-right: 0;
}

.button-row button:hover{
    background-color: #00ff00;
    color: black;
}